/* inline_style_1 */
/*<![CDATA[*/
div.rbtoc1571818603454 {padding: 0px;}
div.rbtoc1571818603454 ul {list-style: disc;margin-left: 0px;}
div.rbtoc1571818603454 li {margin-left: 0px;padding-left: 0px;}

/*]]>*/
